.read-next-container {
    .read-next-title {
        font-family: $font-heading;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.4px;
        color: $text-body;
        margin-bottom: 50px;
    }

    .read-next-listing {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;

        .read-next-listing-details {
            padding: 0 15px 0 0;
            position: relative;
            border-bottom: 1px solid $off-white;

            @media only screen and (max-width: $screen-md) {
                order: 1;
            }

            .read-next-cta {
                display: flex;
                position: absolute;
                bottom: 0;
                margin-bottom: 20px;
                width: 100%;
                justify-content: space-between;

                @media only screen and (max-width: $screen-md) {
                    position: relative;
                }

                .read-next-cta-btn {
                    border: 1px solid $text-body;
                    padding: 12px 12.5px;
                    margin-right: 15px;
                    color: $text-body;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                        background-color: $text-body;
                        color: $white;
                    }

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        .read-next-listing-image {
            padding: 0;
            border-bottom: 1px solid $off-white;
            padding-bottom: 25px;

            @media only screen and (max-width: $screen-md) {
                border: 0;
            }
        }
    }
}