// colors
$primary: #e2362a;
$secondary: #ed8936;
$body-bg: #ffffff;
$grey-bg: #f6f6f6;
$footer-bg: #2d2c2c;
$off-white: #e0e0e0;
$text-body: #212529;
$text-grey: #808080;

// Breakpoints:
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;

// fonts
$font-family-primary: "Montserrat", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-heading: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: $font-family-primary;